@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  font-family: "Monofonto";
  src: url("monofonto.otf") format("opentype");
}

@font-face {
  font-family: "Overseer";
  src: url("Overseer.otf") format("opentype");
}

:root {
  --bg-color: rgb(61, 85, 65);
  --main-color: rgb(3, 27, 14);
  --font-color: rgb(32, 192, 104);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Monofonto", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

button {
  font: inherit;
  background: initial;
  border: 2px solid var(--font-color);
  color: inherit;
}
button:focus {
  outline: none;
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

label::after {
  content: "\f0c8";
  font-family: "FontAwesome";
  padding-left: 1rem;
}

input[type="checkbox"]:checked + label::after {
  content: "\f14a";
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Overseer";
  font-size: 7.2rem;
  letter-spacing: 0.03em;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  padding: 0.5rem 2rem;
  background-color: var(--main-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.settings {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}

.made-by {
  margin-left: auto;
}

#vault-boy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14%;
  width: 26rem;
}

.calculator-area {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 5rem;
  width: 80rem;
  height: 55rem;
  padding: 4rem;
  border-radius: 40px;
  margin-bottom: 6rem;
  background-color: var(--main-color);
}

.calculator-area::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 5px;
  z-index: 2;
  pointer-events: none;
}

.calculator-box {
  display: grid;
  grid-template-columns: repeat(3, 7rem);
  grid-template-rows: repeat(4, 7rem) 5rem;
  gap: 1.5rem;
  padding-left: 1rem;
}

#clear {
  grid-column: 1 / -1;
}

.calculator-operators {
  grid-column: 1 / -1;

  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.operator:first-child::before,
.operator:last-child::before {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 3px;
  height: 3rem;
  background-image: linear-gradient(
    to top,
    var(--font-color),
    rgba(0, 0, 0, 0)
  );
  background-clip: content-box;
  border-bottom: 3px solid var(--font-color);
}

.operator:first-child::before {
  left: 0;
  transform: translate(-100%, 7%);
  padding-right: 3rem;
}

.operator:last-child::before {
  right: 0;
  transform: translate(100%, 7%);
  padding-left: 3rem;
}

#display {
  font-family: "VT323", monospace;
  display: flex;
  align-items: center;
  height: 6rem;
  border-radius: 10px;
  padding-left: 2rem;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 3.5rem;
  font-weight: 400;
}

#display::before {
  content: ">";
  font-size: 3rem;
  padding-right: 1rem;
}

#display::after {
  content: "\25A0";
  animation: square-blink 1s step-end infinite;
  font-size: 3.8rem;
}

@keyframes square-blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.operator {
  position: relative;
  padding: 0 2rem;
  border: none;
  font-size: 2.2rem;
}

.operator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  width: 8.3rem;
  height: 3px;
  border-radius: 1px;
  background-color: var(--font-color);
  pointer-events: none;
}

.operator:last-child::after {
  display: none;
}

.operator:hover,
.operator:focus-visible,
.current-operator {
  box-shadow: inset 0 0 0 2px var(--font-color);
}

.number {
  font-size: 2.4rem;
}

.calculator-box button {
  position: relative;
}

.calculator-box button::after {
  display: none;
  content: "";
  top: -6px;
  left: -6px;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  border: 1px solid var(--font-color);
}

.calculator-box button:hover::after,
.calculator-box button:focus::after {
  display: initial;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}
@keyframes scanline {
  0% {
    opacity: 0;
    bottom: 100%;
  }
  80% {
    opacity: 0;
    bottom: 100%;
  }
  85% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.03;
    bottom: 0%;
  }
}

/* MEDIA QUERIES */
@media (max-height: 37.5em) {
  html {
    font-size: 56.5%;
  }
  h1 {
    font-size: 6.8rem;
  }
}

@media (max-width: 52em) {
  html {
    font-size: 51.5%;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 45.5%;
  }
  h1 {
    font-size: 6.8rem;
  }
}

@media (max-width: 44em) and (min-height: 45.5em) {
  body {
    padding-top: 9rem;
  }
}
